# individual and meta-analytic papers
/primary-ma-papers/

# dependency of effect sizes
/dependency/

# individual codebooks 
/codebooks/individual/

# writing files
/submission/*
!*/submission/manuscript-effectsizes.Rmd
!*/submission/references-effectsizes.bib
!*/submission/apa6-meta-analysis.csl

# misc files
*.txt
*.rar
*.Rhistory
*.Rdata
*.bib
*.docx
*.Rmd
*.csl
*.aux
*.bbl
*.bcf
*.blg
*.log
*.run.xml
*.xml
*.synctex.gz
*.gz
*.tex