# individual and meta-analytic papers
/primary-ma-papers/

# dependency of effect sizes
/dependency/

# writing files
/writing/

# misc files
*.txt
*.rar
*.Rhistory
*.aux
*.log
*.gz
*.synctex.gz
*.tex
*.bib
*.docx
*.Rmd
*.csl