
# ignore all individual and meta-analytic papers
mapapers/
# ignore all literature for paper
literature/
# ignore all .xlsx files (all data is in .csv files)
xlsxfiles/
# ignore writing paper files
paper/

*.txt
*.rar
*.Rhistory

# ignore thesis files 
thesis/